name: Build Binaries

on: workflow_dispatch

jobs:
  windows-x86:
    runs-on: windows-latest
    env:
      POWERSHELL_TELEMETRY_OPTOUT: 1
    steps:
    - name: Clone repository
      shell: cmd
      run: |
          mkdir C:\workspaces
          cd /d C:\workspaces
          git clone --recurse-submodules --depth 1 --shallow-submodules --branch main --single-branch --no-tags --progress --verbose https://github.com/cxxzhang/qt5.15.17
    - name: Set up VC-LTL
      shell: cmd
      working-directory: C:\workspaces\qt5
      run: call C:\workspaces\qt5\.github\workflows\setup-vc-ltl.bat
    - name: Build qt5
      shell: cmd
      working-directory: C:\workspaces\qt5
      run: |
          git config --global user.email "ci@github-actions.com"
          git config --global user.name "GitHub Actions"
          call C:\workspaces\qt5\apply-patches.bat
          call C:\workspaces\qt5\onekey-build-x86.bat
    - uses: actions/upload-artifact@v2
      with:
        name: qt5.15.17_x86
        path: C:\workspaces\qt5\Output\x86

